/* General styles */
.login-page {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
  }
  
  .login-header {
    background-color: #3366cc;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .login-header h1 {
    margin: 0;
  }
  
  .login-header nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  /* Login containers */
  .login-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .admin-login, .customer-login {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
  }
  
  .admin-login h2, .customer-login h2 {
    color: #3366cc;
    margin-bottom: 10px;
  }
  
  input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #3366cc;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #28539a;
  }
  
  .google-login-button {
    background-color: #db4437;
    margin-top: 10px;
  }
  