.emptyCartContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.cartHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-left: 4px;
}

.cartItem {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cartItemStack {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 8px;
}

.cartItem {
  padding-right: 16px;
}
