/* .menu_dropdown{
    position:absolute;
    display:none;
    right: 0;
    padding: 1%;
    font-size: large;
    z-index: 1;
}

.menu:hover .menu_dropdown{
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    background-color: #296cce;
    border-radius: 3px;
    list-style: none;
    color: white;
    width: 200px;
    font-size: large;
}

.menu_dropdown li{
    cursor: pointer;
}

.menu
{
    position: relative;
} */

/* Hacky way to ensure the menu button dropdown hover bg is consistent */
.MuiMenuButton-root:hover,
.JoyMenuButton-root:hover {
  background-color: var(
    --variant-solidHoverBg,
    var(
      --joy-palette-primary-solidHoverBg,
      var(--joy-palette-primary-600, #185ea5)
    )
  ) !important;
}
