.menu_dropdown{
    position:absolute;
    display:none important;
    right: 0;
    padding: 1%;
    font-size: large;
    z-index: 1;
}

.menu:hover .menu_dropdown{
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 3px;
    list-style: none;
    color: black;
    width: 200px;
    font-size: large;
}

.menu_dropdown li{
    cursor: pointer;
}

.menu
{
    position: relative;
}