.checkout-page {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f8f8;
  }
  
  .cart-items {
    flex: 0.6;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-right: 20px;
  }
  
  h3 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
  }
  
  .cart-item-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .cart-item-details {
    flex-grow: 1;
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
  }
  
  .quantity-control button {
    background-color: #ff7043;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .quantity-control span {
    margin: 0 10px;
  }
  
  .remove-button {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
  }
  
  .remove-button:hover {
    background-color: #e64a19;
  }
  
  .order-summary {
    flex: 0.35;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .summary-item span {
    font-size: 18px;
  }
  
  button.continue-to-checkout {
    padding: 10px 20px;
    background-color: #ff7043;
    color: white;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  button.continue-to-checkout:hover {
    background-color: #e64a19;
  }
  
  h3, .summary-item span {
    font-size: 16px;
    font-weight: bold;
  }
  