.productCard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.productCardImgContainer {
  min-height: 200px;
}

.productCardImg {
  object-fit: contain;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.productCardBodyContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1px;
}

.productCardInCartButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.inputContainer {
  width: 60px;
}

.cartQuantityButton {
  border-radius: 50px;
  width: 32px;
  height: 32px;
}
