.gallary{
    width: 500px;
    position: relative;
    .swiper-slide{
        padding-top: 100%;
        overflow: hidden;
        position: relative;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%
        }
    }   

}

.gallary-thumbs{
    width: 300px;
    .swiper-slide{
        cursor: pointer;
        border: 1px solid black; 

        .swiper-slide-thumb-active{
            border-color: red;
        }
    }

    .gallary-thumbs-wrapper{
        width: 100%;
        padding-top: 100%;
        overflow: hidden;
        position: relative;

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
}