/* .navbar {
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
  }

  .main-content {
    padding-top: 100px;
}
  */